#box{
	width: 100%;
	height: 100%;
	background: url("../img/codigo.jpeg");
}

#box h1{
	background: rgba(255,255,255,0.2);
}

/*Não esquecer de usar o webkit e o moz para compatibilidade*/
/*
#box{
	backgroud: linear-gradiente('20deg' colocamos as cores);
	backgroud: radial-gradiente(varias cores);
	
}
*/